* {
    cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1073.cur), auto !important;
}

a {
    cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1070.cur), auto !important;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #FFB0B0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9446ac;
}
    
body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: monospace;
    font-size: 0.87rem;
}

table {
    text-align: left;
}

.title {
    background: transparent;
    text-transform: lowercase;
    font-family: georgia, monospace, arial;
    font-weight: bold;
    font-style: italic;
    color: #31a0b9;
    line-height: 2rem;
    padding-top: 2px;
    margin-bottom: 4px;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.subtitle {
    font-weight: bold;
    color: #38b2ce;
    font-size: 1.1rem;
}

.navigation {
    background: #A9BAD8;
    margin-top: 0.7rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menu a {
    display: inline-block;
    background: #FFEBF1;
    font: normal 1rem 'silkscreen', monospace, georgia;
    text-transform: uppercase;
    padding: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    letter-spacing: 1px;
    color: #C5779C;
    border-radius: 10px;
    line-height: 0.6rem;
}

#menu a:hover {
    color: #555;
}

.sitename {
    color: #888;
    background: #Fff;
    padding-left: 5px;
    padding-top: 3px;
    border-right: 1px solid #C6D9EC;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.siteurl {
    color: gray;
    font-weight: bold;
    background: #fff;
    padding: 0.5rem;
    line-height: 13px;
    letter-spacing: 2px;
    font-size: small;
}

.sidebar {
    background: #fff;
    border-right: 1px solid #C6D9EC;
    border-left: 1px solid #C6D9EC;
    overflow: scroll;
    overflow-x: hidden;
    color: #3abedc;
}

.sidebar-image {
    width: 100%;
    padding-bottom: 4px;
}

.info {
    font-family: monospace;
    font-size: 0.9rem;
    padding-left: 5px;
}

.topic {
    font-weight: bolder;
    color: #31a0b9;
}

.content {
    background: #fff;
    border-left: 1px solid #C6D9EC;
    overflow: scroll;
    overflow-x: hidden;
}

.scrollbox {
    height: 24rem;
    overflow: auto;
    overflow-x: hidden;
    padding-left: 15px;
    padding-top: 4px;
    padding-right: 10px;
}

.bottom {
    background: #A9BAD8;
    color: #fff;
    border-top: 1px solid #C6D9EC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 20px;
}

.footer {
    background: #A9BAD8;
    border-top: 1px solid #ddd;
}

.credits {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #C6D9EC;
    background: transparent;
    border-top: 10px solid #A9BAD8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.credits a {
    color: #C5779C;
}