* {
    cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1073.cur), auto !important;
}

.cursor-point {
    cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1070.cur), auto !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #FFB0B0; 
}

::-webkit-scrollbar-thumb:hover {
    background: #9446ac; 
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#main-div {
    background-color: whitesmoke;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
}

tbody {
    padding: 10px;
}

td {
    padding: 10px;
    border: 1pt solid rgb(81, 79, 79);
}

table {
    border-collapse: collapse;
}

div {
    margin: 0 auto;
}

a {
    text-decoration: underline;
    text-decoration-style: wavy;
}

#moon {
    color: #e53a8a;
}

#mercury {
    color: #3abedc;
}

#mars {
    color: rgb(197, 25, 25);
}

#jupiter {
    color: rgb(60, 210, 60);
}

#venus {
    color: gold;
}