body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
    font-family: Verdana, Arial, sans-serif;
}
.quiz-box {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0 4px #FFD700, 0 0 0 7px #DAA520, inset 0 0 0 4px #E6C200, inset 0 0 0 7px #EEE8AA, 0 0 0 10px #B8860B;
}
h1, p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.question {
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #E6C200;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
button:hover {
    background-color: #DAA520;
}